<h1 class="product_name">{{product.model}}</h1>


<img src="{{product.sourse}}" alt="{{product.model}}" class="page-photo">

<ul>
    <li class="item">Screen diagonal: {{product.characteristics.screenDiagonal}}</li>
    <li class="item">Smart TV support: {{product.characteristics.smartTVSupport}}</li>
    <li class="item">Resolution: {{product.characteristics.resolution}}</li>
    <li class="item">Platform: {{product.characteristics.platform}}</li>
    <li class="item">Frame color: {{product.characteristics.frameColor}}</li>
    <li class="item">Producing country: {{product.characteristics.producingCountry}}</li>
</ul>
